<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wördli</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='bootstrap/css/custom.css') }}>


</head>
<body>

<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Word of the Day</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Wordlist</a></li>
      </ul>
</header>

<div align="center">
   <form action="#" method = "post">
       <input type = "text" name="guessed_word" maxlength="5" minlength="5">
       <input type="submit" value="submit">
   </form>
</div>


<!--{{ erratenes_worthtml }}-->


<table align="center">
  <tr>
    <th><div class="bildformation"> <img src="{{ url_for('static', filename=color_1) }}">
        <span>{{ letter1 }}</span></div></th>
    <th><div class="bildformation"> <img src="{{ url_for('static', filename=color_2) }}">
        <span>{{ letter2 }}</span></div></th>
    <th><div class="bildformation"> <img src="{{ url_for('static', filename=color_3) }}">
        <span>{{ letter3 }}</span></div></th>
    <th><div class="bildformation"> <img src="{{ url_for('static', filename=color_4) }}">
        <span>{{ letter4 }}</span></div></th>
     <th><div class="bildformation"> <img src="{{ url_for('static', filename=color_5) }}">
        <span>{{ letter5 }}</span></div></th>
  </tr>
</table>

<h2 class="versuch">Versuch Nr. {{ counter }}</h2>

{{ counter_falsch }} {{ counter_halbrichtig }} {{ counter_richtig }}

<div>
    <h2 class="versuch">{{ lsng1 }} {{ lsng2 }} {{ lsng3 }} {{ lsng4 }} {{ lsng5 }}</h2>

</div>

</body>
</html>
